# ============================================
# SERVER - STOCKMEDI
# ============================================

# -------------------- DEPENDANCES --------------------
node_modules/
package-lock.json
yarn.lock

# -------------------- ENVIRONNEMENT --------------------
.env
.env.local
.env.production
.env.example

# -------------------- LOGS --------------------
logs/
*.log
npm-debug.log*

# -------------------- BACKUP --------------------
backups/
*.bak

# -------------------- UPLOADS --------------------
uploads/
temp/

# -------------------- OS --------------------
.DS_Store
Thumbs.db

# -------------------- IDE --------------------
.vscode/
.idea/
*.swp
*.swo
*~